@using MyEShop.Models.Entities.Users;
@model List<Address>

@{
    ViewData["Title"] = "آدرس ها";
    int totalPages = ViewBag.TotalPages;
    int page = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
    Guid? userId = ViewBag.UserId;
}


<div class="card">
    <header class="card-header">
        <h2>آدرس ها</h2>
        @if (userId != null)
        {
            <div class="d-block my-2">
                <a asp-action="Add" asp-route-id="@userId" class="btn btn-primary">افزودن آدرس جدید</a>
            </div>
        }
    </header>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ایمیل کاربر</th>
                    <th>شماره تلفن</th>
                    <th>کد پستی</th>
                    <th>کنترل ها</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><strong>@item.User.Email</strong></td>
                        <td>@item.User.Phone</td>
                        <td>@item.PostalCode</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i> ویرایش</a>

                                    <a class="dropdown-item" onclick="ViewDeleteResult('@item.Id')"><i class="bx bx-trash me-1"></i> حذف</a>
                                    <a class="dropdown-item" onclick="ViewDetail('@item.Id')"><i class="bx bx-detail  me-1"></i> جزئیات</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="card-footer text-center my-auto">
            @await Component.InvokeAsync("AdminPagination" , new {page , pageSize , totalPages})
        </div>

    </div>
</div>



@section Modal{
    <div class="modal fade show" id="Modal" tabindex="-1" style="display: none; padding-left: 0px;" aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">جزئیات</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="ModalContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        بستن
                    </button>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts{

    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>

    <script>
        function ReplaceModalFooter() {
            let footer = `
                                    <div class="modal-footer">
                                         <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                         بستن
                                         </button>
                                    </div>`;
            $("#Modal .modal-footer").replaceWith(footer)
        }
        function ViewDetail(id) {
            ReplaceModalFooter();
            $("#ModalContent").load("/Admin/UserAddress/Detail/" + id);
            $("#Modal").modal("show");
        }

        function ViewDeleteResult(id) {
            ReplaceModalFooter();
            let btnDelete = `
                                                <button type="button" onclick="Delete('${id}')" class="btn btn-danger" data-bs-dismiss="modal">
                                                    حذف
                                                </button>
                                          `;
            $("#Modal .modal-footer").append(btnDelete);
            $("#ModalContent").load("/Admin/UserAddress/Delete/" + id);
            $("#Modal").modal("show");
        }

        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })



        function Delete(id) {
            $.ajax({
                type: "POST",
                url: "/Admin/UserAddress/DeleteConfirmed/" + id,
                data: { id: id },
            }).done(function (result) {
                console.log(result)
                if (result.isSuccess) {
                    Toast.fire({
                        icon: 'success',
                        title: 'کاربر با موفقیت حذف شد'
                    })
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'خطا ، حذف انجام نشد.'
                    })
                }
            });
        }
    </script>
}