@model MyEShop.Models.Entities.Users.User

<table class="table table-borderless">
    <tbody>
        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">نام</small></td>
            <td class="py-3">
                <p class="mb-0">@Model.Name</p>
            </td>
        </tr>
        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">نام خانوادگی</small></td>
            <td class="py-3">
                <p class="mb-0">@Model.Family</p>
            </td>
        </tr>
        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">ایمیل</small></td>
            <td class="py-3">
                <p class="mb-0">@Model.Email</p>
            </td>
        </tr>

        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">تلفن همراه</small></td>
            <td class="py-3">
                <p class="mb-0">@Model.Phone</p>
            </td>
        </tr>
        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">آدرس</small></td>
            <td class="py-3">
                <p class="mb-0">@(Model.Address ?? "ندارد")</p>
            </td>
        </tr>
        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">کد پستی</small></td>
            <td class="py-3">
                <p class="mb-0">@(Model.PostalCode ?? "ندارد")</p>
            </td>
        </tr>
        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">تاریخ ایجاد</small></td>
            <td class="py-3">
                <p class="mb-0">@Model.CreateDate</p>
            </td>
        </tr>
        <tr>
            <td class="align-middle"><small class="text-light fw-semibold">تاریخ ویرایش</small></td>
            <td class="py-3">
                <p class="mb-0">@Model.ModifiedDate</p>
            </td>
        </tr>




    </tbody>
</table>